
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    max-width: 1600px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid blueviolet;
    background-color: #1A0B2E;
    align-items: center;
}
.elements{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 32px;
}
.logo{
    font-size:x-large;
    font-weight: 700;
}
.logo-text-1{
color: white;
}
.logo-text-2{
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bullet{
    color: white;
    font-size: 16px ;
}
.btn-1{
    display: flex;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
     transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn-1:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(145, 0, 248, 0.4);
}
.hero{
    margin: 0 auto;
    justify-items: center;
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mic-pic img{
    background-image: url(./assets/hero-circle.png);
}
